* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: rgb(251 251 251);
  --second-color: #333;
  --border-color: rgba(0, 0, 0, 0.2);
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--second-color);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--first-color);
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  min-height: 20vh;
}

header h1 {
  margin-bottom: 2vh;
  font-size: 7vh;
}

header p {
  font-size: 2vh;
}

main {
  display: flex;
  justify-content: center;
}

.title {
  margin-bottom: 2vh;
  font-size: 3vh;
  font-weight: normal;
  text-align: center;
}

.transactions {
  width: 50%;
}

.transactions h3 {
  margin-bottom: 1vh;
  font-size: 3vh;
  text-align: center;
}

.transaction-list {
  display: flex;
}

.income-area, .expenses-area {
  margin: 0 2vh;
  padding: 2vh;
  width: 50%;
  border-radius: 1vh;
  border: 1px solid var(--border-color);
  background-color: #fff;
}

.income-area h3, .income-area .transaction-amount {
  color: rgb(18, 197, 128);
  font-weight: bold;
}

.expenses-area h3, .expenses-area .transaction-amount {
  color: rgb(197, 18, 87);
  font-weight: bold;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
  border-bottom: 1px solid var(--border-color);
}

.transaction:last-child {
  border-bottom: none;
}

.transaction-name, .transaction-amount {
  font-size: 2vh;
}

.transaction-name i {
  margin-right: 1vh;
}

.delete {
  margin-left: .8vh;
  padding: .8vh;
  font-size: 2vh;
  background: none;
  border: none;
  color: var(--second-color);
  cursor: pointer;
  transition: transform .3s;

  &:hover {
    transform: scale(.8);
  }
}

.options {
  padding: 3vh;
  width: 25%;
  border-radius: 1vh;
  border: 1px solid var(--border-color);
  background-color: #fff;
}

.available-money {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 3vh 0;
}

.controls button {
  padding: 1vh 1.5vh;
  font-size: 1.5vh;
  color: var(--second-color);
  background: none;
  border-radius: 1vh;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: color .3s, background-color .3s;

  &:hover {
    color: var(--first-color);
    background-color: var(--second-color);
  }
}

.controls i {
  margin-right: 1vh;
}

.style-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-buttons button {
  margin: 0 2vh;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  cursor: pointer;
  transition: transform .3s;

  &:hover {
    transform: scale(.9);
  }
}

.light {
  background: rgb(251 251 251);
  border: 1px solid #333;
}

.dark {
  background: #333;
  border: 1px solid rgb(251 251 251);
}

@media (max-width: 1340px) {
  .controls {
    flex-direction: column;
  }

  .controls button {
    margin-bottom: 1vh;
  }
}

@media (max-width: 1000px) {
  .transactions {
    width: 70%;
  }

  .income-area, .expenses-area {
    margin: 0 1vh;
  }

  .options {
    margin-right: 1vh;
    width: auto;
  }
}

@media (max-width: 725px) {
  main {
    flex-direction: column;
  }

  .transactions {
    margin-bottom: 2vh;
    width: 100%;
  }

  .options {
    margin: 0 1vh;
  }
}

@media (max-width: 468px) {
  .transaction {
    flex-direction: column;
  }
}